h1 {
  text-align: center;
  color: rgba(255, 0, 0, 0.637);
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3 {
  text-align: center;
}
<<<<<<< HEAD
h4 {
  text-align: left;
}
h5 {
  color: rgba(255, 0, 0, 0.637);
}
h9 {
  color: rgba(255, 0, 0, 0.637);
=======
>>>>>>> 9fabeb8934a5f44ca2e9434832b7a865ddc66903
h2 {
  color: gray;
}
